html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #f3f3f3;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin: 0.2em;
}

.plusminus {
    margin: 1em;
}

.content {
    flex: 1 0 auto;
}

footer {
    font-size: 0.6em;
    flex-shrink: 0;
    text-align: center;
}

li {
    min-height: 30px;
    padding: 10px;
    margin: auto;
    font-size: 1em;
    display: block;
}

select {
    height: 3em;
    width: 200px;
}

input {
    margin: 0.2em;
}

/* Form */
input,
textarea,
select,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}
