html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #f3f3f3;
}

h1 {
    background: #002E5D;
    /*dark blue/navy
    /*background: #5F7C9B; medium blue*/
    margin-top: 0em;
    padding-top: 0.67em;
    padding-bottom: 0.67em;
    color: #F3F3F3;
}

h2 {
    margin-top: 0.67em;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    /*background-color: #30557C;*/
    /*margin: 0.2em;*/
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited {
    background-color: #002E5D; /*30557C*/
}

.plusminus {
    margin: 1em;
}

.content {
    flex: 1 0 auto;
}

footer {
    background: #002E5D;
    color: #F3F3F3;
    font-size: 0.6em;
    flex-shrink: 0;
    text-align: center;
}

.row {
    min-height: 30px;
    padding: 10px;
    margin: auto;
    font-size: 1em;
    /*display: block;*/
}

.col,
.col-1,
.col-2,
.col-3 {
    margin: auto;
    align-content: center;
    text-align: center;
}

.col-2 {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

select {
    height: 3em;
    width: 200px;
}

input {
    margin: 0.2em;
}

/* Form */
input,
textarea,
select,
button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

a {
    color: #F3F3F3;
    text-decoration: none;
}
